{% extends "panel.html" %}

{% block content %}
<div class="modal-dialog w-50 w-auto-sm white dk b-l p-4" >
  <div class="d-flex flex-column h-100">
    <div class="p-3 b-b d-flex no-shrink">
      <h5 class="h5 m-0">{{currentNode.title}}</h5>
      <a data-dismiss="modal" class="ml-auto" onclick="$('#sidepane').remove()">
        <span class="text-lg l-h-1x">×</span>
      </a>
    </div>

    <div>
      <h5>You need to login</h5>
      <p class="text-muted my-3">
        Using your email, you wiil a link to come back to this page.
      </p>
    </div>

    <form name="authenticate" method="post" action="{{request.path}}">
      <div class="form-group">
        <input value="{{input_data.email}}" name="email" type="email" placeholder="Email" class="form-control" required>
      </div>
      <button type="submit" class="btn primary btn-block p-x-md" >Send</button>
    </form>
  </div>
</div>
{% endblock %}
