# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.db
*.zip
/bin/
/lib/
/include/
pip-selfcheck.json
/share/
/deposit/
/drafts/
/media/
/.Python
*_history

.pip/
.gitconfig


node_modules/
.DS_Store

.project
.pydevproject

.settings/
.npm/

*.egg-info
/conf/
*.conf
/ilot-archives/
/projects/
/env/
/static/
*.pem
/configure.sh

node_modules

package-lock.json
/env
/dist
/static
/media
/logs
/conf
*.db
/full-theme
/*.pem
/dumps

/www/docs
__pycache__
*.pyc
/.git
