
<header class="white p-3">
  <nav class="clearfix">
    <div class="float-left">
      <a href="/" ><img style="width:2em;margin:1em" src="/static/illustrations/logo-mini.png" >Tribute</a>
    </div>
    <div class="float-right p-2" style="margin-right:200px">
      <a class="btn" href="/#highlight" >Home</a>
      <a class="btn" href="/#challenge" >Challenge</a>
      <a class="btn" href="/#solution" >Solution</a>
      <a class="btn" href="/#about" >About</a>
    </div>

  </nav>
</header>

<section id="highlight" class="p-5 white row" >

  <div class="col-md-6 p-5">

    <h5 >What if organizations cooperated with communities of contributors in
    a fair and sustainable way?</h5>

    <div class="mt-5">
      <h1>Meet Tribute.</h1>
      <h2>Equity for the community.</h2>
      <p>
        Tribute helps organizations build and strengthen their network of contributors.
        We enable them to design and manage a customized reward system based on economic incentives and transparency.
      </p>
    </div>
  </div>

  <div class="col-md-6 p-5">
    <img class="m-3" style="width:100%" src="/static/illustrations/shared-pizza.png" />
  </div>

</section>

<section id="intro" class="p-5 white" >

    <h4>The Future Of Work</h4>
    <h2>OPEN NETWORKS FOR SUCCESS</h2>

    <img style="width:100%" src="/static/illustrations/overview.jpg" />

    <p>
      Modern organizations are outgrowing traditional firms by opening up to contributors beyond their corporate framework.<br />
      Instead of relying on a trained but limited workforce, they are leveraging external crowds to design, build and market their services, making them more efficient, agile and adaptable to change.<br />
      But as talented individuals increasingly choose to work independently,  the competition for quality services begins to rise.<br />
    </p>

</section>


<section id="challenge" class="container p-5" >
  <h4>The Challenge</h4>
  <h2>INCENTIVIZING CONTRIBUTORS LONG-TERM</h2>

  <p>
    If organizations want to attract and retain talented individuals they must treat them as first-class citizens.
    However, currently there are no long-term mechanisms in place to reward these external stakeholders for their effort.
  </p>
  <p>
    Businesses distribute economic value to shareholders, executives and employees,
     but there is no system to account for the value created by external stakeholders.
  </p>
  <img style="width:100%" src="/static/illustrations/balance.png" />
  <p class="text-large">
    As a result independent contributors often get disappointed, mistrustful, and adverse towards organizations.
  </p>
</section>


<section id="solution" class="white p-5" >
  <div class="container">
    <h4>The Solution</h4>
    <h2>BUILD TRUST WITH TRANSPARENCY</h2>

    <p>
      Tribute helps organizations attract and maintain a strong community of contributors through value accounting and economic incentives.
      Together with traditional monetary compensation, organizations can use Tribute to create their own contributive tokens in order to reward contributions.
    </p>

    <p>
      Contributive tokens can be used to represent future payments at an early stage of a business,
      include contributors in decision-making processes, distribute shares of future profits, and more.
    </p>
  </div>

  <div class="row m-5">
    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/pay-phone.jpg" />
      <h5>Mint Your Tokens​</h5>
      <p>
        Issuing your own tokens allows you to track the value created by your community and reward individuals for their contributions.
      </p>
    </div>

    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/handshake.jpg" />
      <h5>Facilitate and Scale Coordination​</h5>
      <p>
        Fire up activities offered to your community.
        Define how to reward them, have them assigned to contributors and approve them once delivered.
      </p>
    </div>

    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/search-people.jpg" />
      <h5>Find The Right Resources At No Cost​</h5>
      <p>
        Tribute is an open, censorship-free and decentralized network.
        Our match-making services are open for everyone and will always remain free.
      </p>
    </div>

    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/flag.jpg" />
      <h5>Foster Cooperation And Engagement​</h5>
      <p>
        Encourage interpersonal interactions, team cooperation,
        and a common culture through monetary and reputational incentives.
      </p>
    </div>

    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/pay-chip.jpg" />
      <h5>Reap the Benefits of Programmable Equity​</h5>
      <p>
        Tokens offer many more possibilities than traditional equity.
        Create customized incentive schemes that meet your contributors' expectations.
      </p>
    </div>

    <div class="col-md-4 p-5">
      <img style="width:100%" src="/static/illustrations/pay-app.jpg" />
      <h5>Embed Into Your App​</h5>
      <p>
        Developers can use our APIs to embed token-based incentives
        directly in their app or social media campaigns.
      </p>
    </div>
  </div>


</section>


<section id="who" class="light p-5" >

<div class="container text-center">
  <img src="/static/illustrations/icos-crowdfunding.png" />
  <img src="/static/illustrations/extended-entreprise.png" />
  <img src="/static/illustrations/opesource-projects.png" />
  <img src="/static/illustrations/sharing-economy.png" />
  <img src="/static/illustrations/bootstraping-organisations.png" />
</div>

</section>


<section id="about" class="p-5 white" >

<div class="container">
  <h4>About us</h4>
  <h2>A DECENTRALIZED NETWORK BUILT AS A COMMONS</h2>

  <div class="left-topic row m-5">
    <div class="col-md-4">
      <img class="" src="/static/illustrations/raised-hands.jpg" />
    </div>
    <div class="col-md-8">
      <h5>Open Governance​</h5>
      <p>
        Whether core team and contributors building Tribute,
        organizations using it,
        advisors guiding it or funding investors,
        our governance system allows every stakeholder
        to participate in key decisions that affect the network.
      </p>
    </div>
  </div>

  <div class="left-topic row m-5">
    <div class="col-md-4">
      <img src="/static/illustrations/growing-seed.jpg" />
    </div>
    <div class="col-md-8">
      <h5>Inclusive Business Model​</h5>
      <p>
        To ensure that businesses pay proportionately
         to the value they receive
          and that no one is excluded for economic reasons,
          each organization pays Tribute with their own
          contributive tokens.
      </p>
    </div>
  </div>


  <div class="left-topic row m-5">
    <div class="col-md-4">
      <img src="/static/illustrations/fruits.jpg" />
    </div>
    <div class="col-md-8">
      <h5>Engineered as a Commons​</h5>
      <p>
        Tribute is designed for sharing more value than it captures.
        The code is open source and most of the profits
        are re-invested in the network
        and relevant causes selected by governing stakeholders.
      </p>
    </div>
  </div>
</div>

</section>

<section id="team" >

  Founders / advisors

</section>

<footer class="dark p-5">

  Tribute helps organizations build and strengthen their network of contributors. We enable them to design and manage a customized reward system based on economic incentives and transparency.

  Do you want to test Tribute Alpha? Please enter your email address below!

</footer>
