{% extends "200.html" %}

{% block main %}
<div class="navbar white p-3">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a target="_top" class="nav-link" href="/" ><img style="width:2em;margin-right:2em" src="/static/illustrations/logo-mini.png" >Tribute</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/projects.html">Projects</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/contributions.html">Contributions</a>
		</li>
	</ul>
</div>
{% block content %}
{{block.super}}
{% endblock %}

{% endblock %}
